@font-face {
    font-family: "Kudry";
    src: url("../../fonts/Kudry-ClassicHeadline.woff2") format("woff2"),
    url("../../fonts/Kudry-ClassicHeadline.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Regular.woff2") format("woff2"),
    url("../../fonts/Cormorant-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AllysonPro";
    src: url("../../fonts/P22AllysonPro.woff2") format("woff2"),
    url("../../fonts/P22AllysonPro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/montserrat-regular.woff2") format("woff2"),
    url("../../fonts/montserrat-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/montserrat-light.woff2") format("woff2"),
    url("../../fonts/montserrat-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UppEa";
    src: url("../../fonts/UppEaRegular.woff2") format("woff2"),
    url("../../fonts/UppEaRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
