
// Colors

$color-white: #ffffff;
$color-ivory-white: #fffff0;
$color-black: #000000;
$color-black-08: rgba(0, 0, 0, 0.8);
$color-black-02: rgba(0, 0, 0, 0.2);
$color-black-pearl: #121C25;
$color-brown: #4d4543;

// Typography
$ff-Kudry: "Kudry", "Times New Roman", serif; 
$ff-Cormorant: "Cormorant", "Times New Roman", serif;
$ff-AllysonPro: "AllysonPro";
$ff-Montserrat: "Montserrat", "Arial", sans-serif;
$ff-UppEa: "UppEa", "Arial", sans-serif; 