.answer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    display: block;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: $color-ivory-white;
    margin: 0 0 10px;
  }
}
